<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
   <runtime>
    <gcAllowVeryLargeObjects enabled="true"></gcAllowVeryLargeObjects>
  </runtime>
  <appSettings>
    <add key="SampleFilePath" value="D:\Test\samplefile.xlsx" />
    <add key="OutputFilePath" value="D:\Test\outputfile.xlsx" />
    <add key="SizeOfOutputFileInMb" value="2" />
  </appSettings>
</configuration>